# Results

In [1]:
"""
Copyright (c) 2022 Magdalena Fuentes, Bea Steers, Luca Bondi(Robert Bosch GmbH), Julia Wilkins
All rights reserved.

This source code is licensed under the BSD-3-Clause license found in the
LICENSE file in the root directory of this source tree.
"""

%load_ext autoreload
%autoreload 2

In [2]:
import os
import pandas as pd

In [6]:
RESULTSPATH = '../results'

csvs = [ 
    'results_urbansas_f0_point_sources.csv',
    'results_urbansas_f1_point_sources.csv',
    'results_urbansas_f2_point_sources.csv',
    'results_urbansas_f3_point_sources.csv',
    'results_urbansas_f4_point_sources.csv',  
    'results_urbansas_f0_box_sources.csv',
    'results_urbansas_f1_box_sources.csv',
    'results_urbansas_f2_box_sources.csv',
    'results_urbansas_f3_box_sources.csv',
    'results_urbansas_f4_box_sources.csv',  
]

In [7]:
df = pd.DataFrame({})
for csv in csvs:
    df = pd.concat([df, pd.read_csv(os.path.join(RESULTSPATH, csv))]).drop('Unnamed: 0', axis=1)
    
_df = df.groupby(['score', 'tau', 'frame_type', 'uid', 'model_type']).mean().reset_index()
_df = pd.melt(_df, value_vars=['bus', 'car', 'motorbike', 'truck'], 
               id_vars=['uid', 'frame_type', 'tau', 'model_type'], 
               var_name='class', value_name='iou')

In [8]:
_df.groupby(['frame_type', 'model_type', 'class']).mean()[['iou']]

                                         iou
frame_type model_type    class
active     box_sources   bus        0.566554
                         car        0.491585
                         motorbike  0.356262
                         truck      0.477793
           point_sources bus        0.414770
                         car        0.358646
                         motorbike  0.322173
                         truck      0.361311
all        box_sources   bus        0.733775
                         car        0.371815
                         motorbike  0.758079
                         truck      0.877008
           point_sources bus        0.738703
                         car        0.324370
                         motorbike  0.759066
                         truck      0.884940
inactive   box_sources   bus        0.725029
                         car        0.210250
                         motorbike  0.761195
                         truck      0.877651
           point_sources bus        0.742947
                         car        0.218162
                         motorbike  0.763647
                         truck      0.888060